header {
    text-align: center;
    background-color: rgba(252, 248, 217, 0.685);
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(59, 73, 59, 0.897);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dashed;
    border-color: rgba(85, 112, 85, 0.699);
}

body {
    background-color: rgba(221, 221, 221, 0.596);
}

nav {
    text-align: center;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(250, 250, 223, 0.603);
}

.border {
    border: 1px solid rgba(57, 70, 57, 0.61);
}